.backgroundC {
    background-color: #40E0D0;
  }
.margin-top-silde {
    margin-top: 80px;
}
.img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }
  .textW {
    color: #FFFAFA;
  }
  .textL {
    color: #FFF5EE;
  }
  .icon {
    float: right;
    display: inline-block; 
    margin-top: 8px; 
    margin-right: 10px;
  }
  .borderT {
    border-top: 2px solid gray;
    background-color: #D3D3D3;
  }
  .pic {
    height: 30px;
    width: 30px;
  }